<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Register page</title>
    {% include "fonts.html" %}
    <style>
        /* Show it is fixed to the top */
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 4.5rem;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div><p class="text-center fs-2 user-select-none" style="color: var(--bs-purple)">Register</p></div>
    <form class="offset-lg-2 col-lg-8 bg-light p-5 rounded needs-validation" action="{{ url_for('auth.register') }}"
          method="post" novalidate>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <div class="fs-5"> {{ message }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="mb-3 row justify-content-center">
            <label for="username" class="col-sm-2 col-form-label user-select-none">Username</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="invalid-feedback">
                    Username is required!
                </div>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label for="name" class="col-sm-2 col-form-label user-select-none">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name" name="name" required>
                <div class="invalid-feedback">
                    Name is required!
                </div>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label for="telegram_cid" class="col-sm-2 col-form-label user-select-none">Telegram ID</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="telegram_cid" name="telegram_cid">
                <div class="form-text">If you want to receive notify from Telegram, you should fill in this filed</div>
                <div class="form-text"><span class="text-danger">Note:</span> This field can not change right now</div>
                <div class="form-text">Make sure you had started the
                    <a class="link-primary" href="https://t.me/allen0099_bot">bot</a>, other wise you won't get any
                    notify messages.
                </div>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label for="password" class="col-sm-2 col-form-label user-select-none">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="invalid-feedback">
                    Password is required!
                </div>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label for="confirm_password" class="col-sm-2 col-form-label user-select-none">Confirm Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                <div class="invalid-feedback">
                    Confirm password is not match!
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 d-sm-block mx-auto text-nowrap text-center">
            <button type="submit" class="btn btn-primary">Register!</button>
        </div>
    </form>
</div>
{% include 'bootstrap.html' %}
<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    console.log('f ' + !form.checkValidity())
                    console.log('p ' + form.confirm_password.value + ' ' + form.password.value)
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
</body>
</html>